{% extends 'layouts.app' %}

{% block page_title_prefix %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post">
        <h2>
            <a href="{{ post.url }}" class="title">
                {{ post.title }}
            </a>
        </h2>
        <div class="metadata">
            <small class="date" title="{{ post.published_at|date('Y-m-d H:i:s') }}">
                {{ post.published_at|date('F d, Y') }}
            </small>
            {% for tag in post.tags %}
                <a href="{{ tag.url }}" class="badge badge-light">{{ tag.tag }}</a>
            {% endfor %}
        </div>
        <div class="post-body">
            {{ post.body|raw }}
        </div>
    </div>
{% endblock %}
